<% if(typeof errors != 'undefined' && count(errors)) { %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-<%= errors.type %> alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }); %>
<% } %>