<div class="col-3 flex-nowrap sidebar-width">
	<nav id="sidebar" style=" padding:50px 0">
		<!-- Sidebar Header -->
		<div class="sidebar-header text-center">
			<h1 id="notification">Menu</h1>
		</div>
		<!-- Sidebar Links -->
		<ul class="nav-list">
			<li class="active nav-list__item"><a href="/dashboard">Home</a></li>
			<li class="nav-list__item"><a href="/create">New Post</a></li>
			<li class="nav-list__item"><a href="#">Update Post</a></li>
			<li class="nav-list__item"><a href="#">Show Post</a></li>
		</ul>
		<ul id="cancel"><a><strong>Cancel Account</strong></a></ul>
	</nav>