<%- include('./partials/head') %>
<%- include('./partials/header') %>
<head>
    <style>
        @media (min-width: 1200px) {
            .container {
                max-width: 1349px;
                padding: 0;
                margin: 0;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <button style="margin-left: 20px; background: greenyellow; ">
            <a href="/api/post" class="link" style="text-decoration: none;">New Article</a>
        </button>
        
    </div>
</body>
<!-- <%- include('./partials/footer') %> -->