<%- include('./partials/head') %>
<%- include('./partials/header') %>
<head>
    <style>
        @media (min-width: 1200px) {
            .container {
                max-width: 1349px;
                padding: 0;
                margin: 0;
            }
        }
        .btn-home {
            padding: 1.375rem 1.7rem;
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome To Blog NodeJS</div>
            <div class="masthead-heading text-uppercase">HOPE IS A GOOD THING</div>
            <a class="btn-home btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/post">SHOW POSTS</a>
        </div>
    </header>
</body>
<%- include('./partials/footer') %>