<%- include('./partials/head') %>
<%- include('./partials/header') %>
<head>
    <style>
        @media (min-width: 1200px) {
            .container {
                max-width: 1349px;
                padding: 0;
                margin: 0;
            }
        }
        .jumbotron {
            padding: 4rem 20px;
            background: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to Blog NodeJS</h1>
                <p>View posts from users from all over the world</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/create">Add a new post</a>
                </p>
            </div>
        </header>
        <!-- <div class="row text-center" style="display:flex; flex-wrap:wrap;">
            {{#each posts}}
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="{{this.image}}" width="200" height="200">
                    <div class="caption">
                        <h4>{{this.name}}</h4>
                    </div>
                    <p>
                        <a href="/posts/{{this._id}}" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
            {{/each}}
        </div> -->
    </div>
</body>
<!-- <%- include('./partials/footer') %> -->